.about{
    width: 100%;
    // padding: 100px 0px;
    background-color: $bg-color-1;

.main{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .img{
        height: 80vh;
        width: 35vw;
        background-image: url(../img/main-img.jpg);
        background-size: cover;
        background-position: center;
    }

    .about-text{
        width: 550px;

        h2{
            color: white;
            font-size: 75px;
            text-transform: capitalize;
            margin-bottom: 20px;
        }

        h5{
            color: white;
            letter-spacing: 2px;
            font-size: 22px;
            margin-bottom: 25px;
            text-transform: capitalize;
        }

        p{
            color: #fcfc;
            letter-spacing: 1px;
            line-height: 28px;
            font-size: 18px;
            margin-bottom: 45px;
        }
        
        button{
            background-color: $siteColor;
            color: white;
            text-decoration: none;
            border: 2px solid transparent;
            font-weight: bold;
            padding: 13px 30px;
            border-radius: 30px;
            transition: .4s;

            &:hover{
                background-color: transparent;
                border: 2px solid $siteColor;
                cursor: pointer;
            }
        }
    }
}
}

@media only screen and (max-width: 1140px){
    .about{
        .main{
            .img{
                width: 40vw;
                height: 75vh;
            }
            .about-text{
                width: 50vw;
                h2{
                    font-size: 55px;
                }
                h5{
                    font-size: 19px;
                }
                p{
                    font-size: 16px;
                }
            }
        }
    }
}
 
@media only screen and (max-width: 810px){
     .about{
        .main{
            flex-direction: column;
            height: 100%;
            

            .img{
                height: 55vh;
                width: 50vw;
                margin: 50px 0;
            }
            .about-text{
                text-align: center;
                margin-bottom: 20px;
                width: 80vw;
            }
        }
     }
}
 
@media only screen and (max-width: 550px){
    .about{
        .main{
            height: 100vh;
            .img{
                display: none;
            }
            .about-text{
                h2{
                    font-size: 46px;
                }
                h5{
                    font-size: 15px;
                }
                p{
                    font-size: 14px;
                }
            }

        }
    }
}
 
@media only screen and (max-width: 350px){
    .about .main .about-text{
        h2{
            font-size: 37px;
        }
        h5{
            font-size: 12px;
        }
        p{
            font-size: 12px;
        }
    }
}